
.kaufman__triangle{
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  height: 636px;
  position: absolute;
  top: 0;
  right: -124px;
  overflow: hidden;
  z-index: -1;
  margin: 0;
}
